mixin renderEvent(event)
    - const [_, tag, text] = event.summary.match(/\[?([^\]]*)\]?\s*(.*)/)

    tr.entry
        td.timeString
            span.timeString #{event.timeString}
        td
            span.tag(class=tag) #{tag}
        td.grow #{text}

// ========

doctype html
head
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
    link(rel="stylesheet", href="/css/email.css", data-inline)

span.preheader #{diff.added.length} új, #{diff.removed.length} törölt bejegyzés |

table.body(role='presentation' border='0' cellpadding='0' cellspacing='0')
    tr
        td &nbsp;
        td.container
            .content
                // START CENTERED WHITE CONTAINER
                table.main(role='presentation')
                    // START MAIN CONTENT AREA
                    tr
                        td.wrapper
                            table(role='presentation' border='0' cellpadding='0' cellspacing='0')
                                tr
                                    td

                                        p Kedves #{name}!
                                        p Változások történtek a #[a(href='https://meditime.today/') Meditime] beosztásodban:

                                        table.entries(role='presentation' border='0' cellpadding='0' cellspacing='0')
                                            if diff.removed.length
                                                tr
                                                    td(colspan='3')
                                                        h3 Törölt bejegyzés#{diff.removed.length > 1 ? 'ek' : ''}

                                                each event in diff.removed
                                                    +renderEvent(event)

                                            if diff.added.length
                                                tr
                                                    td(colspan='3')
                                                        h3 Új bejegyzés#{diff.added.length > 1 ? 'ek' : ''}

                                            each event in diff.added
                                                +renderEvent(event)

                                        hr

                                        p.calendar
                                            a(href=`https://calendar.google.com/calendar/r?cid=${calendarId}`)
                                                span.calendarIcon 📅
                                                span.addCalendar Naptár hozzáadása
                                            br
                                            small
                                                | Azonosító:
                                                |
                                                a(href=`mailto:${calendarId}`) #{calendarId}

                    // END MAIN CONTENT AREA
                // END CENTERED WHITE CONTAINER
                // START FOOTER
                .footer
                    table(role='presentation' border='0' cellpadding='0' cellspacing='0')
                        tr
                            td.content-block
                                p.justify
                                    | A Meditime óránként van ellenőrizve, a személyre szóló naptárad is ezzel egyidőben automatikusan frissül.
                                    | Válaszlevélben jelezd, ha kérésed, kérdésed, vagy bármilyen megjegyzésed van, illetve ha nem szeretnél több ilyen értesítést kapni.
                                    | Az adatok tájékoztató jellegűek, a helyességükért vagy teljességükért felelősséget senki nem vállal.
                        tr
                            td.content-block.powered-by
                                | Meditime Értesítő - v#{process.env.npm_package_version}
                // END FOOTER
